<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Sigmar+One|Lobster+Two:700:700italic' rel='stylesheet'>
    <%= t.include("partials/_head.html") %>
    <style>[ng-cloak] { display: none; }</style>
  </head>
  <body ng-app="brackets">

    <%= t.include("partials/_nav.html") %>
    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="intro">
      <div class="splash">
        <img src="/assets/pizza/italianfamilypizza.jpg" class="banner">
      </div>
      <div class="wywh">
          <h1>Seattle's Best Pizza</h1>
          <h2>Vote for your favorite!</h2>
        </div>
      <p class="chatter" >
        Seattle may not be known for its pizza, but the  pie situation here has evolved enormously. In this bracket-style competition, 32 pizzerias in Seattle’s city limits go head-to-head, vying for the title of Seattle Times readers’ favorite. </br></br>We know, there’s a lot more pizza out there to choose from. If your favorite is missing, let us know what it is in the comments section below.</p> 

    </header>

    <hr>
    <div class="page-container">
      <main class="bracket" ng-controller="bracket-controller" ng-cloak>
      
        <nav class="list-pane">
          <div class="round-selection">
            <a class="shift-round" ng-click="shiftRound(-1)"><i class="fa fa-chevron-circle-left"></i></a>
            <h1>{{round.title}}</h1>
            <a class="shift-round" ng-click="shiftRound(1)"><i class="fa fa-chevron-circle-right"></i></a>
          </div>
          <div class="no-matchups pinstripe" ng-if="!round.matchups.length">
            {{round.description}}
          </div>
          <ul class="round" ng-if="round.matchups.length">
            <li
              ng-repeat="match in round.matchups"
              ng-class="{ voted: match.voted, selected: match == selected.match }"
              class="matchup"
            >
                <div 
                  ng-repeat="candidate in match.options"
                  ng-class="{
                    won: match.winner == candidate.id,
                    chosen: candidate.id == match.voted
                  }"
                  class="card {{$first ? 'top' : 'bottom'}}"
                  ng-click="selectMatch(match, candidate)"
                >
                    <div class="icons">
                      <i class="fa fa-trophy win-marker" title="Winner" ng-if="match.winner == candidate.id"></i>
                      <i class="fa fa-check-circle vote-marker" ng-if="match.voted == candidate.id"></i>
                      <i class="fa fa-spinner fa-spin voting-marker" ng-if="candidate.voting"></i>
                      <a
                        ng-if="!bracket.closed && round.current && !match.voted && !candidate.voting"
                        ng-click="vote(candidate, match); $event.stopPropagation()"
                        class="vote button"
                      ><i class="fa fa-check-square vote-link"></i></a>
                    </div>
                  {{ candidate.details.name }}
                </div>

          </li>
        </ul>
      </nav>

      <section class="detail-pane">
        <div class="no-match pinstripe" ng-if="!selected.match">
          No match available &mdash; select a different round to view details.
        </div>
        <div class="match-details" ng-if="selected.match">
          <div class="candidate"
            ng-repeat="candidate in selected.match.options"
            ng-class="{ focus: candidate == selected.candidate }"
          >
            <a class="close" ng-click="clearCandidate()">
              <i class="fa fa-times-circle"></i>
            </a>
            <div class="image">
              <img ng-src="assets/pizza/{{candidate.details.image}}.jpg">
              <p class="credit">({{candidate.details.credit}})</p>
            </div>  
            <h1>{{candidate.details.name}}</h1>
            <p class="address"><a href="{{candidate.details.maps}}" target="_blank">{{candidate.details.address}}</a></p>
            <p class="address"><a href="{{candidate.details.url}}" target="_blank">More information ></a></p>
            <p class="result" ng-if="selected.match.voted || !round.current">
              {{ candidate.votes }} VOTES
            </p>
            <div class="vote-for-this" ng-if="!bracket.closed && !selected.match.voted && round.current && !candidate.voting">
              <a ng-click="vote(candidate, selected.match)"><i class="fa fa-check-square"></i> Vote</a>
            </div>
          </div>
        </section>

      </main>

      <hr>
      
      <ul class="credits">
      <li> Development: Paige Collins, Thomas Wilburn
      <li> Design: Frank Mina
      <li> In the lead image, Pam Ng, second from right, and her colleagues enjoy the pie at Italian Family Pizza on First Hill. (Erika Schultz / The Seattle Times)
     </ul>  

     <div style="padding: 20px;">
      <script src="//cdn.livefyre.com/Livefyre.js"></script>
       <div id="livefyre-app-custom-1469659253943"></div>
       <!-- Scripts -->
       <script>
       (function() {
         Livefyre.require(['fyre.conv#3'], function(Conv) {
           new Conv({
             network: 'seattletimes.fyre.co'
             
             }, [{
               app: 'main',
               siteId: '316317',
               articleId: 'custom-1469659253943',
               el: 'livefyre-app-custom-1469659253943',
               
             }], function (widget) {
               // Initialize or Auth
             });
         });
       }());
       </script>
     </div>
     </div> 

     <%= t.include("./_recirc.html") %>
   

    <footer>
      <img class="logo" src="assets/seattletimes.svg">
    </footer>

    <script>
window.bracket = <%= JSON.stringify(grunt.data.bracket) %>;
window.config = {
  sheet: "<%= json.project.sheets[0] %>",
  endpoint: "<%= json.project.endpoint %>",
  page: "<%= json.package.name %>"
};
    </script>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
